// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "x1000.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/ingenic,sysost.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "yna,cu1000-neo", "ingenic,x1000e";
	model = "YSH & ATIL General Board CU1000-Neo";

	aliases {
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x04000000>;
	};

	leds {
		compatible = "gpio-leds";
		led-0 {
			gpios = <&gpb 21 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
		};
	};

	wlan_pwrseq: msc1-pwrseq {
		compatible = "mmc-pwrseq-simple";

		reset-gpios = <&gpc 17 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <200>;
	};
};

&exclk {
	clock-frequency = <24000000>;
};

&cgu {
	/*
	 * We use a rate of 600 MHz for MPLL, put the DDR under MPLL, and use
	 * a rate of 200 MHz for DDR.
	 * Use the 32.768 kHz oscillator as the parent of the RTC for a higher
	 * precision.
	 */
	assigned-clocks =
		<&cgu X1000_CLK_MPLL>,
		<&cgu X1000_CLK_DDR>,
		<&cgu X1000_CLK_RTC>;
	assigned-clock-parents =
		<0>,
		<&cgu X1000_CLK_MPLL>,
		<&cgu X1000_CLK_RTCLK>;
	assigned-clock-rates =
		<600000000>,
		<200000000>;
};

&ost {
	/* 1500 kHz for the system timer and clocksource */
	assigned-clocks = <&ost OST_CLK_PERCPU_TIMER>, <&ost OST_CLK_GLOBAL_TIMER>;
	assigned-clock-rates = <1500000>, <1500000>;
};

&uart2 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_uart2>;
};

&ssi {
	status = "okay";

	spi-max-frequency = <50000000>;

	num-cs = <2>;
	cs-gpios = <&gpd 1 GPIO_ACTIVE_LOW>, <&gpc 6 GPIO_ACTIVE_LOW>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_ssi>;

	wk2xx_ce0: wk2204_ce0@0 {
		compatible = "wkmic,wk2xxxspi-0";
		reg = <0>;
		spi-max-frequency = <10000000>;

		irq_gpio=<&gpc 9 IRQ_TYPE_EDGE_FALLING>;
	};

	wk2xx_ce1: wk2204_ce1@1 {
		compatible = "wkmic,wk2xxxspi-1";
		reg = <1>;
		spi-max-frequency = <10000000>;

		irq_gpio=<&gpc 19 IRQ_TYPE_EDGE_FALLING>;
	};

};

&msc0 {
	status = "okay";

	bus-width = <8>;
	max-frequency = <50000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_msc0>;

	non-removable;
};

&mac {
	status = "okay";

	phy-mode = "rmii";
	phy-handle = <&lan8720a>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_mac>;

	snps,reset-gpio = <&gpc 23 GPIO_ACTIVE_LOW>; /* PC23 */
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 30000>;
};

&mdio {
	status = "okay";

	lan8720a: ethernet-phy@0 {
		compatible = "ethernet-phy-id0007.c0f0", "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&otg {
	status = "okay";
};

&pinctrl {
	pins_uart2: uart2 {
		function = "uart2";
		groups = "uart2-data-d";
		bias-pull-up;
	};

	pins_ssi: ssi {
		function = "ssi";
		groups = "ssi-dt-d", "ssi-dr-d", "ssi-clk-d";/*, "ssi-ce0-d";*/
		bias-disable;
	};

	pins_msc0: msc0 {
		function = "mmc0";
		groups = "mmc0-1bit", "mmc0-4bit", "mmc0-8bit";
		bias-disable;
	};

	pins_mac: mac {
		function = "mac";
		groups = "mac";
		bias-disable;
	};
};
